@{
    ViewData["Title"] = "Payment Successful";
}

<div class="container text-center mt-5">
    <div class="card shadow-lg p-5">
        <div class="card-body">
            <h1 class="text-success mb-3">
                ✅ Payment Successful!
            </h1>
            <p class="lead">Thank you for your purchase. Your payment has been processed successfully.</p>

            <div class="mt-4">
                <a href="/Home/Index" class="btn btn-primary btn-lg">
                    🌴🏖️️ Back to home page
                </a>
            </div>
        </div>
    </div>
</div>